*{
  padding: 0;
  margin: 0;
}
#bg-img{
    object-fit: cover;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
#App{
  width: 80%;
  height: 40em;
  justify-self: center;
  transform: translateY(2em);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  border-radius: 15px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#Wheel{
  width: 50em;
  height: 50em;
  border-radius: 40em;
  background-color: transparent;
  border: 5em solid ;
  border-color: rgba(209, 57, 6, 0.282) rgba(235, 163, 29, 0.501) rgba(135, 94, 4, 0.381) rgba(89, 243, 23, 0.233);
  transform: rotate(205deg) ;
  position: relative;
  right: 40%;
  bottom: 40em;
}
#Wheel img{
  width: 40%;
  height: auto;
} 
.food1{
  transform: translateX(-7em);
}
.food2{
  transform: translateX(20em);
}
.food3{
  transform: translateX(-7em) translateY(15em);
}
.food4{
  transform: translateX(18em) translateY(15em);
}

#Wheel-description{
  width: 45%;
  height: 20em;
  background-color: aquamarine;
  position: absolute;
  left: 25%;
  top: 5em;
}
#des-containerA{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#first-description{
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(3, 3, 3, 0.2)
}
#second-descriptionA{
  font-size: 1.5em;
  font-weight: bold;
  font-family: climate-crisis;
  color: rgba(3, 3, 3, 0.2)
}